<!DOCTYPE html>

<html lang="pt-br">
<head>
    <meta charset="uft-8">
    <title>Home Page</title>
</head>
<body>
    <header>
        <hr>
        <h1 align="center"><B>Tecnologia da Informação</B></h1>
        <hr>
    </header>

    <div background="" id="links" align="center">
        <a style="padding: 2%; color: black;" href="">Profissão</a>
        <a style="padding: 2%; color: black;" href="">Objetivo</a>
        <a style="padding: 2%; color: black;" href="">Mercado de Trabalho</a>
        <a style="padding: 2%; color: black;" href="">Cursos</a>
    </div>

    <footer align="center">
        Desenvolvido por João Vitor Lemos e Ricardo Reis
    </footer>

</body>
</html>