<!DOCTYPE html>

<html lang="pt-br">
<head>
    <meta charset="uft-8">
    <div>
        <title>Objetivos</title>
    </div>
    <div>
        <a style="padding: 1%; color: black;" href="home.html">Menu</a>
        <a style="padding: 1%; color: black;" href="profissoes.html">Profissões</a>
        <a style="padding: 1%; color: black;" href="mercado.html">Mercado de Trabalho</a>
        <a style="padding: 1%; color: black;" href="universidades.html">Universidades</a>
    </div>
</head>
<body>
    <header>
        <h1 align="center"><B>Objetivos</B></h1>
        <hr>
    </header>
    <div style="width: 800px; margin-left: auto; margin-right: auto; font-size: 25px;">
        <p>O objetivo da Tecnologia da Informação (TI) é utilizar recursos tecnológicos para processar, armazenar, transmitir e recuperar informações de maneira eficiente e eficaz. A TI envolve o uso de computadores, redes, software e sistemas de informação para atender às necessidades das organizações e indivíduos.</p>
        <p>Alguns dos principais objetivos da Tecnologia da Informação são:</p>
        <ul>
            <li>
            Automatização de processos:
            Consiste em utilizar a tecnologia para automatizar tarefas e processos que antes eram realizados manualmente, aumentando a produtividade e reduzindo erros.
            </li>
            <li>
            Gerenciamento de dados:
            Envolve o armazenamento, organização e recuperação de grandes volumes de dados, permitindo que as informações sejam acessadas de forma rápida e precisa.
            </li>
            <li>
            Comunicação e colaboração:
            Facilita a comunicação entre indivíduos e equipes, permitindo o compartilhamento de informações, a colaboração em projetos e a tomada de decisões de forma mais eficiente.
            </li>
            <li>
            Suporte à tomada de decisões:
            Fornece dados e informações relevantes em tempo real, auxiliando na tomada de decisões informadas e estratégicas.
            </li>
            <li>
            Melhoria da eficiência operacional:
            Busca otimizar os processos de negócio, melhorando a eficiência e reduzindo custos.
            </li>
            <li>
            Inovação e competitividade:
            Permite o desenvolvimento de novas soluções, produtos e serviços, proporcionando vantagem competitiva no mercado.
            </li>
            <li>
            Segurança da informação:
            Visa proteger dados sensíveis e sistemas contra ameaças, garantindo a integridade, confidencialidade e disponibilidade das informações.
            </li>
        </ul>
    </div>