<!DOCTYPE html>

<html lang="pt-br">
<head>
    <meta charset="uft-8">
    <div>
        <title>Profissões</title>
    </div>
    <div>
        <a style="padding: 1%; color: black;" href="home.html">Menu</a>
        <a style="padding: 1%; color: black;" href="objetivos.html">Objetivo</a>
        <a style="padding: 1%; color: black;" href="mercado.html">Mercado de Trabalho</a>
        <a style="padding: 1%; color: black;" href="universidades.html">Universidades</a>
    </div>
</head>
<body>
    <header>
        <h1 align="center"><B>Profissões</B></h1>
        <hr>
    </header>
    <div style="width: 800px; margin-left: auto; margin-right: auto;">
        <ul style="font-size: 25px;">
            <li>Desenvolvedor de software: Projeta, desenvolve e mantém aplicativos, programas e sistemas de software.</li>
            <li>Engenheiro de software: Responsável pelo projeto, desenvolvimento e teste de software.</li>
            <li>Analista de sistemas: Analisa requisitos de negócios e projeta soluções de software para atender às necessidades da organização.</li>
            <li>Administrador de banco de dados: Gerencia e mantém bancos de dados, garantindo a segurança e integridade dos dados.</li>
            <li>Arquiteto de TI: Projeta a infraestrutura de TI de uma organização, incluindo redes, servidores e sistemas.</li>
            <li>Especialista em segurança da informação: Protege sistemas de informação contra ameaças, desenvolvendo e implementando medidas de segurança.</li>
            <li>Gerente de projetos de TI: Gerencia projetos de TI, incluindo planejamento, coordenação e controle de recursos e atividades.</li>
            <li>Consultor de TI: Oferece orientação especializada em TI para empresas e organizações.</li>
            <li>Analista de dados: Coleta, organiza e analisa grandes conjuntos de dados para obter informações valiosas.</li>
            <li>Especialista em redes: Projetar, implementar e gerenciar redes de computadores.</li>
            <li>Administrador de sistemas: Gerencia a infraestrutura de TI, garantindo que servidores, sistemas operacionais e redes estejam funcionando corretamente.</li>
            <li>Especialista em suporte técnico: Fornece suporte e solução de problemas relacionados a hardware e software para usuários finais.</li>
        </ul>          
    </div>
</body>