<!DOCTYPE html>

<html lang="pt-br">
<head>
    <meta charset="uft-8">
    <div>
        <title>Universidades</title>
    </div>
    <div>
        <a style="padding: 1%; color: black;" href="home.html">Menu</a>
        <a style="padding: 1%; color: black;" href="profissoes.html">Profissões</a>
        <a style="padding: 1%; color: black;" href="objetivos.html">Objetivos</a>
        <a style="padding: 1%; color: black;" href="mercado.html">Mercado de Trabalho</a>
    </div>
</head>
<body>
    <header>
        <h1 align="center"><B>Universidades</B></h1>
        <hr>
    </header>
    <div style="height: 20px;"></div>
    <div style="width: 800px; margin-left: auto; margin-right: auto; font-size: 25px;">
        <table border="1">
            <thead>
              <tr>
                <th>Universidade</th>
                <th>Nível do Curso</th>
                <th>Dificuldade de Entrar</th>
                <th>Mensalidade</th>
                <th>Nível de Qualidade do Curso</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Universidade XYZ</td>
                <td>Bacharelado</td>
                <td>Moderada</td>
                <td>R$ 1.800,00</td>
                <td>Excelente</td>
              </tr>
              <tr>
                <td>Universidade ABC</td>
                <td>Bacharelado</td>
                <td>Difícil</td>
                <td>R$ 2.500,00</td>
                <td>Bom</td>
              </tr>
              <tr>
                <td>Universidade QRS</td>
                <td>Tecnólogo</td>
                <td>Fácil</td>
                <td>R$ 1.200,00</td>
                <td>Muito Bom</td>
              </tr>
              <tr>
                <td>Universidade DEF</td>
                <td>Bacharelado</td>
                <td>Moderada</td>
                <td>R$ 2.100,00</td>
                <td>Excelente</td>
              </tr>
              <tr>
                <td>Universidade MNO</td>
                <td>Tecnólogo</td>
                <td>Fácil</td>
                <td>R$ 1.500,00</td>
                <td>Bom</td>
              </tr>
            </tbody>
        </table>
    </div>